<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Apagar" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedPedidos()" [disabled]="!selectedPedidos || !selectedPedidos.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Importar" chooseLabel="Importar" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="pedidos" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['cliente.nome','total','dataPedido']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas" [(selection)]="selectedPedidos" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Gerenciar Pedidos</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Pesquisar..." class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="cliente.nome">Cliente <p-sortIcon field="cliente.nome"></p-sortIcon></th>
                        <th pSortableColumn="total">Total <p-sortIcon field="total"></p-sortIcon></th>
                        <th pSortableColumn="dataPedido">Data do Pedido <p-sortIcon field="dataPedido"></p-sortIcon></th>
                        <th>Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pedido>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="pedido"></p-tableCheckbox>
                        </td>
                        <td>{{pedido.cliente.nome}}</td>
                        <td>{{pedido.total | currency:'BRL'}}</td>
                        <td>{{pedido.dataPedido | date:'dd/MM/yyyy'}}</td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editPedido(pedido)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deletePedido(pedido)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="pedidoDialog" [style]="{width: '450px'}" header="Detalhes do Pedido" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="cliente">Cliente</label>
                    <p-dropdown 
                        [options]="clientes" 
                        [(ngModel)]="pedido.cliente" 
                        optionLabel="nome" 
                        placeholder="Selecione um Cliente" 
                        required 
                        autofocus 
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !pedido.cliente}">
                    </p-dropdown>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !pedido.cliente">Cliente é obrigatório.</small>
                </div>
                <div class="field">
                    <label for="itens">Itens</label>
                    <p-multiSelect 
                        [options]="pizzas" 
                        [(ngModel)]="pedido.itens" 
                        optionLabel="name" 
                        placeholder="Selecione as Pizzas">
                    </p-multiSelect>
                </div>
                <div class="field">
                    <label for="total">Total</label>
                    <input type="number" pInputText id="total" [(ngModel)]="pedido.total" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !pedido.total}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !pedido.total">Total é obrigatório.</small>
                </div>
                <div class="field">
                    <label for="dataPedido">Data do Pedido</label>
                    <p-calendar id="dataPedido" [(ngModel)]="pedido.dataPedido" dateFormat="dd/mm/yy"></p-calendar>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="savePedido()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deletePedidoDialog" [style]="{width: '450px'}" header="Confirmar" modal="modal" [closable]="false">
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Não" icon="pi pi-times" class="p-button-text" (click)="deletePedidoDialog = false"></button>
                <button pButton pRipple label="Sim" icon="pi pi-check" class="p-button-text" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>