<h1 class ="titulo">What is Lorem Ipsum?</h1>

<div class ="mision-section">
    <h1 class="header">What is Lorem Ipsum?</h1>
    <br>
    <div class ="mision-content">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit <br>
            Lorem ipsum dolor sit ametnsectetur adipiscing elit
            Lorem ipsum dolor sit amet. 
        </p>
    </div>
</div>


<div class ="goBack-container">
    <button class="goBack" (click)="backHome()">Voltar a Pagina incial</button>
  </div>